
@{
    ViewBag.Title = "ViewEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hide_column {
        display: none
    }
</style>
<div class="card shadow mb-4 card border-left-primary shadow h-100 py-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Events</h6>
    </div>
    <div class="card-body">
        <table class="table-striped table-bordered order-column display" id="evTable" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="EditEventModal" tabindex="-1" role="dialog" aria-labelledby="EditEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditEventModalLabel">Edit Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddEvent" method="post" enctype="multipart/form-data" onsubmit="return AjaxUpdate(this)">
                    <div class="form-row">
                        @Html.AntiForgeryToken()
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Event Name</label>
                            <input type="text" class="form-control" name="EventName" id="EventName" placeholder="Enter Event Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Location</label>
                            <input type="text" class="form-control" name="Location" id="Location" placeholder="Enter Location">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Date</label>
                            <input type="date" class="form-control" name="Date" id="Date" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="card form-group col-md-12">
                            <div class="card-body">
                                <input type="checkbox" name="Recarsive" id="Recarsive" /> Recarsive </br>
                                <input type="checkbox" name="M" id="M" disabled /> M
                                <input type="checkbox" name="T" id="T" disabled /> T
                                <input type="checkbox" name="W" id="W" disabled /> W
                                <input type="checkbox" name="TH" id="TH" disabled /> TH
                                <input type="checkbox" name="F" id="F" disabled /> F </br>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputStartDate">Start Date</label>
                                        <input type="datetime-local" class="form-control" name="StartDate" id="StartDate" placeholder="Enter start date " disabled>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEndDate">End Date</label>
                                        <input type="datetime-local" class="form-control" name="EndDate" id="EndDate" placeholder="Enter end date" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUploadImage">Upload Image</label>
                        <div class="custom-file">
                            <input type="file" name="ImageFile" id="ImageFile" accept="image/png, image/jpeg">
                        </div>
                    </div>

                    <button class="btn btn-primary">Save</button>
                </form>


            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var evenrts = @Html.Raw(ViewBag.EventsDetails);
        if (evenrts != "") {
        }
        $('#evTable').dataTable({
            data: evenrts,
            dom: 'Bfrtip',
            rowId: '_id',
            scrollX: true,
            scrollCollapse: true,
            "columns": [
                { "title": "ID", data: "_id", className: "hide_column", },
                { "title": "Event",  data: "EventName" },
                { "title": "Date", data: "Date"},
                { "title": "Location", data: "Location" },
                {
                    "title": "Action", data: "_id", sWidth: "10%", bSearchable: true, bSortable: true, sClass: "text-left", "render":
                        function (data) {

                            var btnEdit = `<button type="button" class="btn btn-warning fas fa-edit" data-toggle="modal" data-target="#EditEventModal" data-whatever="" onclick="EditEvent('`+ data +`')"></button>`;
                            var btnDelete = `<button type="button" class="btn btn-danger fa fa-trash-alt" onclick="DeleteEvent('` + data + `')"></button>`;

                            return btnEdit + btnDelete;
                        }
                }
            ],
            rowId: function (data) {
                return 'rowId_' + data._id;
            },
            dom: 'Bfrtip'
        });

        $("#Recarsive").change(function () {
            var status = $('#Recarsive').is(":checked")
            ClearRecarsive();
            if (status) {
                $("#Date").val("");
                $("#Date").prop('disabled', true);
                $("#M").prop('disabled', false);
                $("#T").prop('disabled', false);
                $("#W").prop('disabled', false);
                $("#TH").prop('disabled', false);
                $("#F").prop('disabled', false);
                $("#StartDate").prop('disabled', false);
                $("#EndDate").prop('disabled', false);

            } else {
                ClearRecarsive();
                $("#Date").val("");
                $("#Date").prop('disabled', false);
                $("#M").prop('disabled', true);
                $("#T").prop('disabled', true);
                $("#W").prop('disabled', true);
                $("#TH").prop('disabled', true);
                $("#F").prop('disabled', true);
                $("#StartDate").prop('disabled', true);
                $("#EndDate").prop('disabled', true);
            }


        });
    });


    function AjaxUpdate(formData) {
        var ajaxConfig = {
            type: "POST",
            URL: '@Url.Action("UpdateEventDetails", "Home")',
            data: new FormData(formData),
            success: function (result) {
                if (result != undefined) {
                   var uploadStatus = result.Status;
                    if (uploadStatus == true) {
                        swal({
                            title: "Success!",
                            text: "Saved and successfully",
                            icon: "success",
                            button: "OK",
                        });

                        window.location.href = '@Url.Action("ViewEvents", "Home")'

                    } else {
                        swal({
                            title: "Error!",
                            text: "Please contact the system administrator!",
                            icon: "error",
                            button: "OK",
                        });
                    }
                }
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
    function DeleteEvent(id) {

    }

    function EditEvent(id) {
        if (id != undefined) {

            let Data = { Id: id}

            $.ajax({
                type: "POST",
                url: "@Url.Action("EditEvent", "Home")",
                data: JSON.stringify(Data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result != undefined) {

                        var e = result.Event;

                        $("#EventName").val(e["EventName"]);
                        $("#Location").val(e["Location"]);
                        if (e["IsRecarsive"] == true) {

                            $("#Recarsive").prop('checked', true);

                            $.each(e["Days"], function (index, value) {
                                if (value == "Monday") {
                                    $("#M").prop('checked', true);
                                }
                                if (value == "Tuesday") {
                                    $("#T").prop('checked', true);
                                }
                                if (value == "Wednesday") {
                                    $("#W").prop('checked', true);
                                }
                                if (value == "Thursday") {
                                    $("#TH").prop('checked', true);
                                }
                                if (value == "Friday") {
                                    $("#F").prop('checked', true);
                                }

                                var StartDatemilliSecond = parseInt(e["StartDate"].match(/\d+/))
                                var StartDate = new Date(StartDatemilliSecond);
                                $("#StartDate").val(moment(StartDate).format('YYYY-MM-DD[T]HH:mm:ss'));

                                var EndDatemilliSecond = parseInt(e["EndDate"].match(/\d+/))
                                var EndDate = new Date(EndDatemilliSecond);
                                $("#EndDate").val(moment(EndDate).format('YYYY-MM-DD[T]HH:mm:ss'));

                                $("#Date").val("");
                                $("#Date").prop('disabled', true);
                                $("#M").prop('disabled', false);
                                $("#T").prop('disabled', false);
                                $("#W").prop('disabled', false);
                                $("#TH").prop('disabled', false);
                                $("#F").prop('disabled', false);
                                $("#StartDate").prop('disabled', false);
                                $("#EndDate").prop('disabled', false);

                            });

                        } else {
                            $("#Date").val("");
                            $("#Date").prop('disabled', false);
                            $("#M").prop('disabled', true);
                            $("#T").prop('disabled', true);
                            $("#W").prop('disabled', true);
                            $("#TH").prop('disabled', true);
                            $("#F").prop('disabled', true);
                            $("#StartDate").prop('disabled', true);
                            $("#EndDate").prop('disabled', true);

                            $("#Date").val(e["Date"])
                            $("#Recarsive").prop('checked', false);
                            $("#M").prop('checked', false);
                            $("#T").prop('checked', false);
                            $("#W").prop('checked', false);
                            $("#TH").prop('checked', false);
                            $("#F").prop('checked', false);
                        }

                        //$("#uplodedImg").html('<img src="' +e["ImageName"]+ '" />');
                        console.log(e);

                    }
                }
            });

        }
    }

</script>