<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Class Reminder</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/Theme/css/Site.css" rel="stylesheet" type="text/css">
    <script src="~/Content/Theme/vendor/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendor/jquery/moment.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-dove"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Class Reminder</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tools
            </div>


            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AddEvents","Home")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Add Events</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ViewEvents","Home")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>View Events</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle"
                                     src="~/Content/Theme/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#RegisterModal">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Register
                                </a>
                                @*<a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        &copy; 2021 - classReminder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | <a href="https://github.com/giridhar196/classReminder">Link to Development Repo </a> | <a href="https://github.com/giridhar196/proposal/blob/main/Proposal.md">Link to Proposal (1B)</a> | <a href="https://github.com/giridhar196/classReminder/projects/1">Link to board </a>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="@Url.Action("LogOut","Home")">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Modal-->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RegisterModalLabel">Create an Account.!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="FirstName" name="FirstName"
                                       placeholder="First Name" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="LastName" name="LastName"
                                       placeholder="Last Name" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="Email" name="Email"
                                   placeholder="Email Address" autocomplete="off">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user"
                                       name="Password" id="Password" placeholder="Password" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                       name="RepeatPassword" id="RepeatPassword" placeholder="Repeat Password" autocomplete="off">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Register()">Create</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html> 

  <!-- Bootstrap core JavaScript-->
<script src="~/Content/Theme/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Content/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/Theme/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/Content/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>


    function Register() {

       var FirstName = $("#FirstName").val();
       var LastName = $("#LastName").val();
       var Email = $("#Email").val();
       var Password = $("#Password").val();
       var RepeatPassword = $("#RepeatPassword").val();

        if (Password === RepeatPassword) {

            var Type = "POST";
            var Url = '@Url.Action("Register", "Home")';
            var Reg = {
                FirstName: FirstName,
                LastName: LastName,
                Email: Email,
                Password: Password
            };

            $.ajax({
                type: Type,
                url: Url,
                data: JSON.stringify({ 'Reg': Reg,'IsModel': false }),
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                    var res = result.Status;
                    if (res == 1) {
                        swal({
                            title: "Success!",
                            text: "Successful creating a new user!",
                            icon: "success",
                            button: "OK",
                        });

                        $("#FirstName").val("");
                        $("#LastName").val("");
                        $("#Email").val("");
                        $("#Password").val("");
                        $("#RepeatPassword").val("");

                    } else{
                        swal({
                            title: "Error!",
                            text: "Please contact the system administrator!",
                            icon: "error",
                            button: "OK",
                        });
                    }

                }
            });
        } else {
            swal({
                title: "Warning!",
                text: "Please check the password!",
                icon: "warning",
                button: "Ok",
            });
        }
    }



</script>